*{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #dddddd;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
	padding: 10px 0px;
}

nav ul li{
	display: inline;
}

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 15px 20px;
}

nav ul li a:hover{
	background-color: #555;
	color: white;
}

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #b3b3b3;
	color: #333333;
	padding: 10px;
}

body{
	padding-top: 50px;
	padding-bottom: 30px;
}
