{% extends "template.html" %}

{% block scripts %}
	<script src="{{ url_for('static', filename='scripts/home.js')  }}"></script>
{% endblock %}

{% block log_in_status %}
	<li class="nav-item">
		{% if user %}
			<a class="nav-link font-weight-bold" href="{{ url_for('logout') }}">Log Out [{{ user.username }}]</a>
		{% else %}
			<a class="nav-link font-weight-bold" href="{{ url_for('login') }}">Log In</a>
		{% endif %}
	</li>
{% endblock %}

{% block nav_links %}
	
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ url_for('alerts') }}">Alerts</a></li>

{% endblock %}

{% block body_content %}

	<h1 class="myTitle">Recent Bargains</h1>
	<form class="form-inline">
		  <input class="form-control form-control-lg mr-3 w-75" id="searchBar" type="text" placeholder="Search..." aria-label="Search" onkeyup="searchFunction()">
	</form>
	{{ table|safe }}

{% endblock %}
